/* CSS declarations go here */
.footer-background{
  background-color: #252525;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ui.borderless.topmenu.menu{
  background-color: #252525;
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.ui.centered.container{
  position: absolute;
  top: 200px;
  left: 40%;

}

h1 span{
  color: white;
  padding: 10px;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.7);
  border-radius: 12px;
}